@import '~bootstrap/scss/bootstrap';


header {
    .logo {
        font-size: 30px;
    }
}

main {
    .jumbo {
        background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F646112.jpg&f=1&nofb=1&ipt=e9e7098294a773bc965359895f05d670db79cd3215f79f093fdb8af786f7153f&ipo=images');
    }

    .card {
        transition: all .4s ease 0s;

        &:hover {
            scale: 1.02;
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }

    .form-create {
        form {
            width: 900px;

            input {
                margin-top: 1rem;
                padding: 1rem;
            }

            label {
                margin-top: 1rem;
            }

            button {
                width: 200px;
                margin-top: 1rem;
            }
        }
    }
}